@page
@model Feddit.Pages.SubFedditsModel
@{
}
<h1>SubFeddits</h1>
@foreach (var subfeddits in Model.SubFeddits)
{
    <center>
        <div class="Subfeddit-box">
            <div class="subfedditname"@subfeddits.SubFedditName></div>
            <div class="createdday" @subfeddits.TimeCreated></div>
        </div>
    </center>
}
